html,
body {
  background-color: lightblue;
  font-family: 'Patrick Hand', cursive;
}

h1,h2,img {
  text-align: center;
}

h1 {
  color: brown;
}

h2 {
  color: rgb(27, 27, 164);
}

img {
  height: 200px;
  width: auto;
  border: solid 0.5rem blueviolet;
}

.wrap {
  text-align: center;
}

.container {
  border: solid .25rem rgb(42, 110, 104);
  background-color: antiquewhite;
  padding: 1rem;
  margin: 1rem;
}