body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: rgb(11, 20, 31);
}

h1 {
  text-align: center;
}

a {
  color: rgb(49, 84, 82);
  text-decoration: none;
  transition: all 250ms ease;
}

a:hover {
  text-decoration: underline;
  color: rgb(0, 115, 255);
}