html {
  height: 100%;
}

.wrapper {
  height: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: auto;
}

.wrapper > * {
  flex: 1;
}

body {
  font-family: 'Patrick Hand', cursive;
  font-weight: bold;
  height: 90%;
  color: rgb(11, 20, 31);
  background-color: lightblue;
  font-size: 2rem;
}

h1 {
  text-align: center;
  color: brown;
  text-decoration: underline;
}

a {
  color: rgb(49, 84, 82);
  text-decoration: none;
  transition: all 250ms ease;
}

a:hover {
  text-decoration: underline;
  color: rgb(0, 115, 255);
}

div > div {
  border: solid rgb(49, 84, 82);
  text-align: center;
  margin: 1rem;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  text-align: center;
}